
/* Edit Script Page */

.edit-script-page-paper {
    height: 100%;
    
}


.edit-script-div {
   
    
    height: 100%;
    width: 100%;


    margin: 5rem auto;
    padding: 0;
}

.edit-script-div h1 {
    font-size:  2.5rem;
    text-align: center;

}

.edit-script-div h5 {
    font-size:  1.2rem;
}

